<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>oleg loh</title>
</head>
<body>
<h1>Баллада про ОЛЕГА</h1>
<div>Однажды в далекой обители обычного Олега он обнаружил, что его общество омрачено огромным количеством лохов. Олег огорчился, но решил освободить свой ум от ограничений и начал обучаться, чтобы однажды стать успешным. Олег обращался к опыту других, он осознал, что путь к успеху осложнен, но он был озарен идеей о том, что все возможно. Олег упорно работал каждый день, преодолевая все препятствия на своем пути. И вот однажды, когда все считали его лохом, Олег достиг своей цели и стал примером для многих. Олег, Олег, Олег - его имя прозвучало повсюду, как символ победы над собой и над окружающим миром.</div>
</body>
</html>